* {
  margin: 0;
  padding: 0;
}
#main {
  -webkit-column-width:202px;
  -moz-column-width:202px;
  column-width: 202px;
.box {
  padding: 15px 7px 0 7px;
  float: left;
}
.pic {
  border: 1px solid #dddddd;
}
.pic img {
  width: 165px; 
  padding: 10px;
}
