body,div1,ul,li,p
{
    padding: 0;
    margin: 0;
}
p, h1, h2, h3, h4, h5, h6, b, i, a {
    font-family:sans-serif;
}
#div1
{
    position: relative;
    margin: auto;
    height: 260px;
    overflow: hidden;
    z-index: -1;
}
#div1 ul
{
    position: absolute;
    left:0;
}
#div1 ul li
{
    float:left;
    list-style: none;
    width: 416px;
    height: 150px;
}
#div1 ul li img
{
    width: 416px;
    height: 260px;
}
.default-line {
    border: 0;
    padding: 3px;
    background: repeating-linear-gradient(135deg, #a2a9b6 0px, #a2a9b6 1px, transparent 1px, transparent 6px);
}
.dotted-line {
    border:1px dashed #d1d1d1;
    padding：2px；
}
.navbar {
    overflow: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    z-index: 999;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a.right {
    float: right;
}
.navbar a:hover {
  background-color: #ddd;
    color: black;
}
.navbar > p {
    color: #eee;
}
.card {
    margin: auto;
    text-align: center;
    font-family: arial;
    background: #D8D8D8;
    padding: 30px;
}
.card.hover:hover {
    
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    color: var(--color-pindiv);
}
.sticky {
    position: -webkit-sticky;
    position: -o-sticky;
    position: -moz-sticky;
    position: sticky;
    top: 0;
}
.header {
    background: #B45F04;
    color: #eee;
    padding: 32px;
    text-align: center;
    font-size : 32px;
}
@media (min-width: 576px) {
   .header {
        background: #B45F04;
        color: #eee;
        padding: 20px;
        text-align: center;
        font-size : 28px;
    }
}
@media (min-width: 768px) {
    .header {
        background: #B45F04;
        color: #eee;
        padding: 30px;
        text-align: center;
        font-size : 30px;
    }
}
@media (min-width: 992px) {
    .header {
        background: #B45F04;
        color: #eee;
        padding: 32px;
        text-align: center;
        font-size : 34px;
    }
}
.container {
    padding: 10px;
}
