* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#main {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(247, 247, 247);
    /*美琴应援色*/
}