
        
        .container{
    position: relative;
    display: flex; /* flex容器（flex container） */
    justify-content: center;/* 定义项目在主轴上的对齐方式 */
    align-items: center;/* 定义项目在竖直方向上对齐方式 */
    max-width: 1200px;
    flex-wrap: wrap;/* 定义项目是否换行以及如何换行  */
    z-index: 1;
        }
        
        .container #card{

    width: 280px;
    height: 400px;
    margin: 30px;
    /* 设置阴影 */
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);

}

.container .card_1{
        /* 设置card1的背景 */
    background-image: url(../../image/railgun.webp);
    background-size: cover;
}

.container .card_2{
        /* 设置card2的背景 */
    background: url(../../image/railgun_s.webp);
    background-size: cover;
}

.container .card_3{
        /* 设置card2的背景 */
    background: url(../../image/railgun_t.webp);
    background-size: cover;
}
.container #card .content{
    padding: 20px;
    text-align: center;
    transform: translateY(90px);
    opacity: 1; 
    transition: 0.5s;
}
 .container #card:hover .content{
    transform: translateY(15px);
    opacity: 1;
} 
.container #card .content h2{
    position: absolute;
    top: -60px;
    right: 1px;
    font-size: 10em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}
.container #card .content h3{
    -webkit-text-stroke: 0.5px black; 
    font-size: 1.8em;
    color: #fff;
    z-index: 1;
}
.container #card .content p{
    -webkit-text-stroke: 0.1px black; 
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}
.container #card .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}