h3 {
  font-family: "LXGW WenKai";
}
p {
  font-family: "LXGW WenKai";
}
a {
  font-family: "LXGW WenKai";
}
footer {
  font-family: "LXGW WenKai";
}
h2 {
  font-family: "LXGW WenKai";
}
b {
  font-family: "LXGW WenKai";
}
label {
  font-family: "LXGW WenKai";
  font-size: 150%;
}
h1 {
  font-family: "LXGW WenKai";
}
li {
  font-family: "LXGW WenKai";
}
del-text {
  font-family: "LXGW WenKai";
}