*,
::after,
::before {
  font-family: sans-serif;
  box-sizing: border-box;
}
:root {
  --theme-color: #1d62c2;
  --on-theme-color: #ffffff;
}
body {
  margin: 0;
  padding-top: 64px;
  min-height: 100vh;
  transition: 240ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sidebar-opened {
  padding-left: 300px;
}
ul,
li,
p {
  padding: 0;
  margin: 0;
}
a:link {
  color: var(--theme-color);
}
a:not(:hover) {
  text-decoration: none;
}
a:visited {
  opacity: 0.8;
}

/* If CSS can do, why JavaScript? */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(calc(-100% + 4 * 416px));
  }
}
.marquee {
  position: relative;
  margin: auto;
  height: 260px;
  overflow: hidden;
}
.marquee ul {
  position: absolute;
  display: flex;
  height: 100%;
  left: 0;
  animation: 10s infinite linear scroll;
}
.marquee ul li {
  float: left;
  list-style: none;
  width: 416px;
  height: 100%;
}
.marquee ul li img {
  width: inherit;
  height: inherit;
}
hr {
  margin: 36px 0 0 12px;
  height: 4px;
  border: 0;
  background: repeating-linear-gradient(
    135deg,
    #a2a9b6 0px,
    #a2a9b6 1px,
    transparent 1px,
    transparent 6px
  );
}
.dotted-line {
  border: 1px dashed #d1d1d1;
  padding: 2px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  background-color: var(--theme-color);
  color: var(--on-theme-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 4;
}
.header h1 {
  margin: 0 0 0 8px;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  line-height: 1;
}
.sidebar-toggler {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline-start: 8px;
  width: 48px;
  height: 48px;
  color: var(--on-theme-color);
  background-color: var(--theme-color);
  border-radius: 9999px;
  border: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
}
.sidebar-toggler::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: currentColor;
  opacity: 0;
}
.sidebar-toggler:hover::before {
  opacity: 0.08;
}
.sidebar-toggler:focus-visible::before {
  opacity: 0.12;
}
.sidebar-toggler:active::before {
  opacity: 0.16;
}
.sidebar {
  position: fixed;
  top: 64px;
  left: 0;
  padding: 16px 8px;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: #ffffff;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  transition: 240ms transform cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(-100%);
  z-index: 10;
}
.sidebar-opened .sidebar {
  transform: translateX(0);
}
.sidebar a {
  position: relative;
  padding: 0 12px;
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  color: #171717;
  text-decoration: none;
  border-radius: 6px;
  overflow: hidden;
}
.sidebar a::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: currentColor;
  opacity: 0;
}
.sidebar a:hover::before {
  opacity: 0.08;
}
.sidebar a:focus-visible::before {
  opacity: 0.12;
}
.sidebar a:active::before {
  opacity: 0.16;
}
.banner {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: auto;
}
.banner p {
  color: var(--theme-color);
  font-size: 0.875rem;
  font-weight: 100;
  letter-spacing: 0.5em;
}
.container {
  padding: 24px 24px 24px 40px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 24px;
  color: #333333;
}
