* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#main {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1e8da;
    /*美琴应援色*/
}